################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WOKArmyBuilder/.vs/WOKArmyBuilder/DesignTimeBuild/.dtbcache.v2
